body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.page-2-container {
    background-color: #fff;
    padding: 20px;
    border: 0 solid #ccc;
    display: flex;
}

.image-classroom {
    flex: 1; 
    margin-right: 100px;
}

.image-classroom img {
    width: 120%;
    height: 550px;
    border-radius: 8px;
}

.details {
    flex: 2;
    padding: 20px;
}

.details h2 {
    font-size: 24px;
    color: #2c3e50;
}

.rating {
    color: red;
    font-size: 18px;
}

.price {
    color: #e74c3c;
    font-size: 24px;
}

.product-description {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}
.product-description h3{
    color: black;
}

.form-group {
    margin: 15px 0;
    align-content: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.register-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    align-content: center;
}

.register-btn:hover {
    background-color: #c0392b;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 5px;
}

.social-icons img {
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.liked {
    margin-left: 20px;
    font-size: 16px;
    display: flex;
}
none-content{
    width: 1px;
    background: black;
    height: auto;
}