* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/dang_nhap.jfif);
    font-family: Arial, sans-serif;
    display: block;
    justify-content: center;
    height: 100vh;
    margin: 0;
    align-items: center;
    background-color: #f3f4f6;
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    background: gray;
    background-size: cover;
    width: 100%;
    background-position: center;
} 
header .title{
    color: black;
    background-color: #e7dfeb;
    height: 150px;
    width: 100%;
    display: flex;
}
div.title h1{
    font-size: 30px;
    margin-top: 70px;
    padding-right: 30px;
}

div.title p{
    display: flex;
    font-size: 50px;
    justify-content: flex-end;
    align-items: center;
}
img.logo{
    cursor: pointer;
    height: 100px;
    width: 150px;
    position: relative;
    top: 20px;
}

.logo{
    display: flex;
    /* justify-content: space-evenly; */
    text-align: center;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.login-container {
    width: 300px;
    padding-left: 20px;
    margin-left: 190px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
    margin-top: 65px;   
}

.navigation_sticky{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
}
.navigation_sticky--content{
    padding: 10px 10px;
}
.navigation_sticky--content a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-style: italic;
    font-size: 18px; 
    font-weight: 600;
    padding: 10px 20px;
    transition: transform 0.5s ease;
}
.button--sign_in{
    cursor: pointer;
    background-image: linear-gradient(rgb(164, 68, 164),rgba(72, 148, 148, 0.589),rgb(158, 46, 158));
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    border-radius: 8px;
    height: 50px;
    width: 100px;
}
.sticky{
    position: sticky;
    top: 0;
    background-color: rgb(55, 17, 65);
    width: 100%;
    margin-top: -10px;
    padding: 0;
    z-index: 10;
}

.sticky_link{
    text-decoration: none;
    color: white;
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
}
.navigation_sticky--content a:hover{
    background-color: rgb(60, 2, 58);
    /* padding: 12px; */
    transform: scale(1.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 35px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    color: #f3f4f6;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #be3e3e;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.button-sign_up{
    text-decoration: none;
}

button:hover {
    background-color: #8a1919;
}
#loginForm p a{
    cursor: pointer;
    color:rgb(28 10 162);
}
a:hover {
    background-color: rgb(135, 132, 136);
}
#message {
    color: red;
    margin-top: 15px;
}

@media screen and (max-width: 1366px) {
    body{
        background-size: cover;
    }

    div.title h1{
        font-size: 30px;
        margin: 40px 0;
    }

    div.title b{
        font-size: 30px;
    }
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 480px){
    body{
        background-size: cover;
    }

    div.title h1{
        font-size: 14px;
        margin: 62px 0;
    }

    div.title b{
        font-size: 10px;
    }
    .login-container{
        margin: 57px;
    }
}